In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [58]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import*

# initalize sparkContext
spark = SparkSession.builder.appName("PySpark_Tutorial").getOrCreate()

# given a dataframe df with column id,name and salary
# write a pyspark code to filter rows where salary is greater than 5000 and select only the name column

# reda csv file
print("Sample data")
data=(
    [1,"Tanaji Malusare",2000],
    [2,"Maloji baba",3000],
    [3,"Kalki",34000],
    [4,"SHiva kashid",45000],
    [5,"Kalki",34000],
)

# defien schema
schema=["id","name","salary"]

# cretae dstaframe base on data
df=spark.createDataFrame(data,schema)
df.show()

# Sort the data in pyspark
print("asc")
df_ascendig=df.sort("name")
df_ascendig.show()

print("desc")
df_desc=df.sort(desc("salary"))
df_desc.show()

# find the higest salary by using asc and desc
df_asc=df.orderBy("salary",ascending=False)
df_asc.show()

print("orderby using desc")
df.orderBy(col("salary").desc()).limit(1).show()

print("find higest top 3 salaries")
df.orderBy(col("salary").desc()).limit(3).show()


print("find bottom  3 salaries")
df.orderBy(col("salary").asc()).limit(3).show()

# write pyspark datafram to csv files
# create spark session
# create sample data
# convert into a dataframe
# write dataframe to  csv files
df.write.csv("output/sample_data", header=True, mode="overwrite")  # Save as CSV
spark.stop()  # Stop the Spark session

Sample data
+---+---------------+------+
| id|           name|salary|
+---+---------------+------+
|  1|Tanaji Malusare|  2000|
|  2|    Maloji baba|  3000|
|  3|          Kalki| 34000|
|  4|   SHiva kashid| 45000|
|  5|          Kalki| 34000|
+---+---------------+------+

asc
+---+---------------+------+
| id|           name|salary|
+---+---------------+------+
|  3|          Kalki| 34000|
|  5|          Kalki| 34000|
|  2|    Maloji baba|  3000|
|  4|   SHiva kashid| 45000|
|  1|Tanaji Malusare|  2000|
+---+---------------+------+

desc
+---+---------------+------+
| id|           name|salary|
+---+---------------+------+
|  4|   SHiva kashid| 45000|
|  3|          Kalki| 34000|
|  5|          Kalki| 34000|
|  2|    Maloji baba|  3000|
|  1|Tanaji Malusare|  2000|
+---+---------------+------+

+---+---------------+------+
| id|           name|salary|
+---+---------------+------+
|  4|   SHiva kashid| 45000|
|  3|          Kalki| 34000|
|  5|          Kalki| 34000|
|  2|    Maloji baba|  3000|
|  1|Tanaji Malusare|  2000|
+---+---------------+------+

orderby using desc
+---+------------+------+
| id|        name|salary|
+---+------------+------+
|  4|SHiva kashid| 45000|
+---+------------+------+

find higest top 3 salaries
+---+------------+------+
| id|        name|salary|
+---+------------+------+
|  4|SHiva kashid| 45000|
|  3|       Kalki| 34000|
|  5|       Kalki| 34000|
+---+------------+------+

find bottom  3 salaries
+---+---------------+------+
| id|           name|salary|
+---+---------------+------+
|  1|Tanaji Malusare|  2000|
|  2|    Maloji baba|  3000|
|  3|          Kalki| 34000|
+---+---------------+------+