In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [25]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import*

# initalize sparkContext
spark = SparkSession.builder.appName("PySpark_Tutorial").getOrCreate()

# reda csv file
print("Sample data")
df=spark.read.csv("/content/sample_data/data1.csv.csv",header=True,inferSchema=True)
df.show(4)


print("json file")
df1=spark.read.option("multiline","true").json("/content/sample_data/anscombe.json")
df1.show(4)

Sample data
+---+-------+------+---+------+---------+---------+
| id|   name|gender|age|salary|purchased|  country|
+---+-------+------+---+------+---------+---------+
|  1|   John|  Male| 28| 60000|        3|      USA|
|  2|   Jane|Female| 32| 75000|        0|   Canada|
|  3|Michael|  Male| 22| 45000|        2|       UK|
|  4|  Emily|Female| 40| 90000|        1|Australia|
+---+-------+------+---+------+---------+---------+
only showing top 4 rows

json file
+------+----+----+
|Series|   X|   Y|
+------+----+----+
|     I|10.0|8.04|
|     I| 8.0|6.95|
|     I|13.0|7.58|
|     I| 9.0|8.81|
+------+----+----+
only showing top 4 rows