In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [41]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import*

# initalize sparkContext
spark = SparkSession.builder.appName("PySpark_Tutorial").getOrCreate()

# given a dataframe df with column id,name and salary
# write a pyspark code to filter rows where salary is greater than 5000 and select only the name column

# reda csv file
print("Sample data")
data=(
    [1,"Tanaji Malusare",2000],
    [2,"Maloji baba",3000],
    [3,"Kalki",34000],
    [4,"SHiva kashid",45000],
    [3,"Kalki",34000],
)

# defien schema
schema=["id","name","salary"]

# cretae dstaframe base on data
df=spark.createDataFrame(data,schema)
df.show()

# performe the answer here
# Drop duplicates

# write pyspark code to remove duplicates rows based on using specific column

print("Remove Duplicates using Distinct()")
df_distinct=df.distinct()
df_distinct.show()


print("removes duplicates based on the name & salary")
df_distinct_name_salary=df.dropDuplicates(["name","salary"])
df_distinct_name_salary.show()

# Using groupBy and agg()
# This method groups data by specific column  and then  aggregated to remove duplicates

Group_by=df.groupBy("name","salary").agg(count("id").alias("count"),max("salary").alias("max"))
Group_by.show()

Sample data
+---+---------------+------+
| id|           name|salary|
+---+---------------+------+
|  1|Tanaji Malusare|  2000|
|  2|    Maloji baba|  3000|
|  3|          Kalki| 34000|
|  4|   SHiva kashid| 45000|
|  3|          Kalki| 34000|
+---+---------------+------+

Remove Duplicates using Distinct()
+---+---------------+------+
| id|           name|salary|
+---+---------------+------+
|  2|    Maloji baba|  3000|
|  1|Tanaji Malusare|  2000|
|  4|   SHiva kashid| 45000|
|  3|          Kalki| 34000|
+---+---------------+------+

removes duplicates based on the name & salary
+---+---------------+------+
| id|           name|salary|
+---+---------------+------+
|  1|Tanaji Malusare|  2000|
|  2|    Maloji baba|  3000|
|  3|          Kalki| 34000|
|  4|   SHiva kashid| 45000|
+---+---------------+------+

+---------------+------+-----+-----+
|           name|salary|count|  max|
+---------------+------+-----+-----+
|Tanaji Malusare|  2000|    1| 2000|
|    Maloji baba|  3000|    1| 3000|
|          Kalki| 34000|    2|34000|
|   SHiva kashid| 45000|    1|45000|
+---------------+------+-----+-----+