In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [27]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import*

# initalize sparkContext
spark = SparkSession.builder.appName("PySpark_Tutorial").getOrCreate()

# reda csv file
print("Sample data")
df=spark.read.csv("/content/sample_data/data1.csv.csv",header=True,inferSchema=True)
df.show(4)

# peforme the add ,drop,and rename column

print("drop")
df_drop=df.drop("name","age")
df_drop.show(4)

print("add column")
df_add_column=df.withColumn("fullname",lit("Tanaji Malusare"))
df_add_column.show(4)

print("rename column ")
df_renamed_column=df.withColumnRenamed("name","fullname")
df_renamed_column.show(4)

Sample data
+---+-------+------+---+------+---------+---------+
| id|   name|gender|age|salary|purchased|  country|
+---+-------+------+---+------+---------+---------+
|  1|   John|  Male| 28| 60000|        3|      USA|
|  2|   Jane|Female| 32| 75000|        0|   Canada|
|  3|Michael|  Male| 22| 45000|        2|       UK|
|  4|  Emily|Female| 40| 90000|        1|Australia|
+---+-------+------+---+------+---------+---------+
only showing top 4 rows

drop
+---+------+------+---------+---------+
| id|gender|salary|purchased|  country|
+---+------+------+---------+---------+
|  1|  Male| 60000|        3|      USA|
|  2|Female| 75000|        0|   Canada|
|  3|  Male| 45000|        2|       UK|
|  4|Female| 90000|        1|Australia|
+---+------+------+---------+---------+
only showing top 4 rows

add column
+---+-------+------+---+------+---------+---------+---------------+
| id|   name|gender|age|salary|purchased|  country|       fullname|
+---+-------+------+---+------+---------+---------+---------------+
|  1|   John|  Male| 28| 60000|        3|      USA|Tanaji Malusare|
|  2|   Jane|Female| 32| 75000|        0|   Canada|Tanaji Malusare|
|  3|Michael|  Male| 22| 45000|        2|       UK|Tanaji Malusare|
|  4|  Emily|Female| 40| 90000|        1|Australia|Tanaji Malusare|
+---+-------+------+---+------+---------+---------+---------------+
only showing top 4 rows

rename column
+---+--------+------+---+------+---------+---------+
| id|fullname|gender|age|salary|purchased|  country|
+---+--------+------+---+------+---------+---------+
|  1|    John|  Male| 28| 60000|        3|      USA|
|  2|    Jane|Female| 32| 75000|        0|   Canada|
|  3| Michael|  Male| 22| 45000|        2|       UK|
|  4|   Emily|Female| 40| 90000|        1|Australia|
+---+--------+------+---+------+---------+---------+
only showing top 4 rows