In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import*


# initialize spark session
spark=SparkSession.builder.appName("pyspark Practice").getOrCreate()

# sample data read csv file

print("read CSV file")
df=spark.read.csv("/content/sample_data/data1.csv.csv",header=True,inferSchema=True)
df.show(4)

# let's performe the the User define funcitons here
print("USER Define Functions")

# define function
def convert_into_upper(name):
        return name.upper()


# register a dataframe
convert_into_upper_udf=udf(convert_into_upper,StringType())

# return new dataframe and call the user define the function
df_new=df.withColumn("upper_name",convert_into_upper_udf(col("name")))
df_new.show(4)

# here lowercase user define function performe get on e specific column

print("Lower user define function take one specific column")


# define the function using python
def convert_into_lower(name):
          return name.lower()



# register with udf
convert_into_lower_udf=udf(convert_into_lower,StringType())

# create dataframe and call the udf
df_udf=df.withColumn("lower_name",convert_into_lower_udf(col("name")))
df_udf.show(4)

read CSV file
+---+-------+------+---+------+---------+---------+
| id|   name|gender|age|salary|purchased|  country|
+---+-------+------+---+------+---------+---------+
|  1|   John|  Male| 28| 60000|        3|      USA|
|  2|   Jane|Female| 32| 75000|        0|   Canada|
|  3|Michael|  Male| 22| 45000|        2|       UK|
|  4|  Emily|Female| 40| 90000|        1|Australia|
+---+-------+------+---+------+---------+---------+
only showing top 4 rows

USER Define Functions
+---+-------+------+---+------+---------+---------+----------+
| id|   name|gender|age|salary|purchased|  country|upper_name|
+---+-------+------+---+------+---------+---------+----------+
|  1|   John|  Male| 28| 60000|        3|      USA|      JOHN|
|  2|   Jane|Female| 32| 75000|        0|   Canada|      JANE|
|  3|Michael|  Male| 22| 45000|        2|       UK|   MICHAEL|
|  4|  Emily|Female| 40| 90000|        1|Australia|     EMILY|
+---+-------+------+---+------+---------+---------+----------+
only showing top 4 rows

Lower user define function take one specific column
+---+-------+------+---+------+---------+---------+----------+
| id|   name|gender|age|salary|purchased|  country|lower_name|
+---+-------+------+---+------+---------+---------+----------+
|  1|   John|  Male| 28| 60000|        3|      USA|      john|
|  2|   Jane|Female| 32| 75000|        0|   Canada|      jane|
|  3|Michael|  Male| 22| 45000|        2|       UK|   michael|
|  4|  Emily|Female| 40| 90000|        1|Australia|     emily|
+---+-------+------+---+------+---------+---------+----------+
only showing top 4 rows