<a href="https://colab.research.google.com/github/karanbhoknal/Pyspark-Code/blob/main/Pyspark_Windows_function_command.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [8]:
from pathlib import WindowsPath
from pyspark.sql import SparkSession
from pyspark.sql.functions import*
from pyspark.sql.window import Window

# initialize spark session
spark=SparkSession.builder.appName("pyspark Practice").getOrCreate()

# sample data read csv file
print("read csv file")
df=spark.read.csv("/content/sample_data/data1.csv.csv",header=True,inferSchema=True)
df.show(4)

# performe the windows function
print("windows functions")
print("windows speficy here ")
WindowSpec = Window.orderBy(col("salary").desc())

# let's performe the
print("row_based funtion")
print("row_number()")
df.withColumn("row_number",row_number().over(WindowSpec)).show(4)
df.withColumn("rank",rank().over(WindowSpec)).show(4)
df.withColumn("dense_rank",dense_rank().over(WindowSpec)).show(4)

# Aggregated function
print("Aggregated function here")
print("sum()")
df.withColumn("sum",sum("salary").over(WindowSpec)).show(4)
print("avg()")
df.withColumn("avg",avg("salary").over(WindowSpec)).show(4)
print("max()")
df.withColumn("min",min("salary").over(WindowSpec)).show(4)
print("min()")
df.withColumn("max",max("salary").over(WindowSpec)).show(4)

# navigation function

print("Navigation function")
print("lead ()")
df.withColumn("lead",lead("salary").over(WindowSpec)).show(4)

print("lag()")
df.withColumn("lag",lag("salary").over(WindowSpec)).show(4)

read csv file
+---+-------+------+---+------+---------+---------+
| id|   name|gender|age|salary|purchased|  country|
+---+-------+------+---+------+---------+---------+
|  1|   John|  Male| 28| 60000|        3|      USA|
|  2|   Jane|Female| 32| 75000|        0|   Canada|
|  3|Michael|  Male| 22| 45000|        2|       UK|
|  4|  Emily|Female| 40| 90000|        1|Australia|
+---+-------+------+---+------+---------+---------+
only showing top 4 rows

windows functions
windows speficy here
row_based funtion
row_number()
+---+-------+------+---+------+---------+---------+----------+
| id|   name|gender|age|salary|purchased|  country|row_number|
+---+-------+------+---+------+---------+---------+----------+
| 31| Rayaji|  Male| 44|340000|        6|    India|         1|
|  7|William|  Male| 45|100000|        4|      USA|         2|
| 25|Jackson|  Male| 42| 95000|        2|Australia|         3|
|  4|  Emily|Female| 40| 90000|        1|Australia|         4|
+---+-------+------+---+------+---------+---------+----------+
only showing top 4 rows

+---+-------+------+---+------+---------+---------+----+
| id|   name|gender|age|salary|purchased|  country|rank|
+---+-------+------+---+------+---------+---------+----+
| 31| Rayaji|  Male| 44|340000|        6|    India|   1|
|  7|William|  Male| 45|100000|        4|      USA|   2|
| 25|Jackson|  Male| 42| 95000|        2|Australia|   3|
|  4|  Emily|Female| 40| 90000|        1|Australia|   4|
+---+-------+------+---+------+---------+---------+----+
only showing top 4 rows

+---+-------+------+---+------+---------+---------+----------+
| id|   name|gender|age|salary|purchased|  country|dense_rank|
+---+-------+------+---+------+---------+---------+----------+
| 31| Rayaji|  Male| 44|340000|        6|    India|         1|
|  7|William|  Male| 45|100000|        4|      USA|         2|
| 25|Jackson|  Male| 42| 95000|        2|Australia|         3|
|  4|  Emily|Female| 40| 90000|        1|Australia|         4|
+---+-------+------+---+------+---------+---------+----------+
only showing top 4 rows

Aggregated function here
sum()
+---+-------+------+---+------+---------+---------+------+
| id|   name|gender|age|salary|purchased|  country|   sum|
+---+-------+------+---+------+---------+---------+------+
| 31| Rayaji|  Male| 44|340000|        6|    India|340000|
|  7|William|  Male| 45|100000|        4|      USA|440000|
| 25|Jackson|  Male| 42| 95000|        2|Australia|535000|
|  4|  Emily|Female| 40| 90000|        1|Australia|625000|
+---+-------+------+---+------+---------+---------+------+
only showing top 4 rows

+---+-------+------+---+------+---------+---------+------------------+
| id|   name|gender|age|salary|purchased|  country|               avg|
+---+-------+------+---+------+---------+---------+------------------+
| 31| Rayaji|  Male| 44|340000|        6|    India|          340000.0|
|  7|William|  Male| 45|100000|        4|      USA|          220000.0|
| 25|Jackson|  Male| 42| 95000|        2|Australia|178333.33333333334|
|  4|  Emily|Female| 40| 90000|        1|Australia|          156250.0|
+---+-------+------+---+------+---------+---------+------------------+
only showing top 4 rows

+---+-------+------+---+------+---------+---------+------+
| id|   name|gender|age|salary|purchased|  country|   min|
+---+-------+------+---+------+---------+---------+------+
| 31| Rayaji|  Male| 44|340000|        6|    India|340000|
|  7|William|  Male| 45|100000|        4|      USA|100000|
| 25|Jackson|  Male| 42| 95000|        2|Australia| 95000|
|  4|  Emily|Female| 40| 90000|        1|Australia| 90000|
+---+-------+------+---+------+---------+---------+------+
only showing top 4 rows

+---+-------+------+---+------+---------+---------+------+
| id|   name|gender|age|salary|purchased|  country|   max|
+---+-------+------+---+------+---------+---------+------+
| 31| Rayaji|  Male| 44|340000|        6|    India|340000|
|  7|William|  Male| 45|100000|        4|      USA|340000|
| 25|Jackson|  Male| 42| 95000|        2|Australia|340000|
|  4|  Emily|Female| 40| 90000|        1|Australia|340000|
+---+-------+------+---+------+---------+---------+------+
only showing top 4 rows

Navigation function
lead ()
+---+-------+------+---+------+---------+---------+------+
| id|   name|gender|age|salary|purchased|  country|  lead|
+---+-------+------+---+------+---------+---------+------+
| 31| Rayaji|  Male| 44|340000|        6|    India|100000|
|  7|William|  Male| 45|100000|        4|      USA| 95000|
| 25|Jackson|  Male| 42| 95000|        2|Australia| 90000|
|  4|  Emily|Female| 40| 90000|        1|Australia| 88000|
+---+-------+------+---+------+---------+---------+------+
only showing top 4 rows

+---+-------+------+---+------+---------+---------+------+
| id|   name|gender|age|salary|purchased|  country|   lag|
+---+-------+------+---+------+---------+---------+------+
| 31| Rayaji|  Male| 44|340000|        6|    India|  NULL|
|  7|William|  Male| 45|100000|        4|      USA|340000|
| 25|Jackson|  Male| 42| 95000|        2|Australia|100000|
|  4|  Emily|Female| 40| 90000|        1|Australia| 95000|
+---+-------+------+---+------+---------+---------+------+
only showing top 4 rows