In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [32]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import*

# initalize sparkContext
spark = SparkSession.builder.appName("PySpark_Tutorial").getOrCreate()

# given a dataframe df with column id,name and salary
# write a pyspark code to filter rows where salary is greater than 5000 and select only the name column

# reda csv file
print("Sample data")
data=(
    [1,"Tanaji Malusare",2000],
    [2,"Maloji baba",3000],
    [3,"KAlki",34000],
    [4,"SHiva kashid",45000],
    [5,"karn ",34500],
)

# defien schema
schema=["id","name","salary"]

# cretae dstaframe base on data
df=spark.createDataFrame(data,schema)
df.show()

# performe the answer here
# write a pyspark code to filter rows where salary is greater than 5000 and select only the name column
df_filter=df.filter(col("salary")>5000).select("name")
df_filter.show()


# create new column  using arithmatic operations create new col bonus which is 10 % of the salary

df_salary=df.withColumn("bonus",col("salary")*10)
df_salary.show()

# task
# given a datafram with two column col 1 and col2 perform the folling writhmatic operations
# Add the values of col1 and col2
# subtract values of col1 and col2
# devide values of col1 and col2
# multiplies values of col1 and col2


# performe the oprations
df_oprations=df.withColumn("addition",col("id")+col("salary"))\
.withColumn("subtraction",col("id")-col("salary"))\
.withColumn("devide",col("id")/col("salary"))\
.withColumn("multiplies",col("id")*col("salary"))
df_oprations.show()

Sample data
+---+---------------+------+
| id|           name|salary|
+---+---------------+------+
|  1|Tanaji Malusare|  2000|
|  2|    Maloji baba|  3000|
|  3|          KAlki| 34000|
|  4|   SHiva kashid| 45000|
|  5|          karn | 34500|
+---+---------------+------+

+------------+
|        name|
+------------+
|       KAlki|
|SHiva kashid|
|       karn |
+------------+

+---+---------------+------+------+
| id|           name|salary| bonus|
+---+---------------+------+------+
|  1|Tanaji Malusare|  2000| 20000|
|  2|    Maloji baba|  3000| 30000|
|  3|          KAlki| 34000|340000|
|  4|   SHiva kashid| 45000|450000|
|  5|          karn | 34500|345000|
+---+---------------+------+------+

+---+---------------+------+--------+-----------+--------------------+----------+
| id|           name|salary|addition|subtraction|              devide|multiplies|
+---+---------------+------+--------+-----------+--------------------+----------+
|  1|Tanaji Malusare|  2000|    2001|      -1999|              5.0E-4|      2000|
|  2|    Maloji baba|  3000|    3002|      -2998|6.666666666666666E-4|      6000|
|  3|          KAlki| 34000|   34003|     -33997|8.823529411764706E-5|    102000|
|  4|   SHiva kashid| 45000|   45004|     -44996|8.888888888888889E-5|    180000|
|  5|          karn | 34500|   34505|     -34495|1.449275362318840...|    172500|
+---+---------------+------+--------+-----------+--------------------+----------+